@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Manrope";
 
}
.iconhover{
  color: rgb(152, 152, 152);
}
.iconhover:hover{
  
  cursor: pointer;
  background-color:#1D1E20;

}

.help{
  cursor: pointer;
}
*:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
