@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Manrope";
}

.iconhover:hover{
  
  cursor: pointer;
  background-color:"#17181A";

}

.help{
  cursor: pointer;
}
*:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
}
